*.RData
Preliminary Models/.Rhistory
StatusReports/Status Report 3/Status Report 3.aux
StatusReports/Status Report 3/Status Report 3.tex
StatusReports/Status Report 3/Status Report 3.aux
StatusReports/Status Report 3/Status Report 3.synctex.gz
*.tex